
.status-indicator {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.status-indicator__text {
  color: #dbfcff;
  font-family: 'Inter', sans-serif;
  font-size: clamp(0.625rem, 2.75vw, 0.75rem);
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
