@import "./fonts.css";

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600');

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 1rem;
}

html, body {
  height: 100%;
  min-height: 100dvh;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 100%;
}

@media screen and (min-width: 340px) {
  section#welcome {
    padding: 1rem;
  }
}

#welcome {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}

#welcome header {
  padding: 4rem 2rem 2rem;
  position: relative;
  z-index: 2;
  width: 100%;
}

@media screen and (min-width: 30em) {
  #welcome header {
    padding-top: 15vh;
  }
}

@media screen and (min-width: 48em) {
  #welcome header {
    padding-top: 30vh;
  }
}

@media screen and (min-width: 62.5em) {
  #welcome header {
    max-width: 900px;
    margin-left: 5rem;
  }
}

#welcome header > div {
  padding-top: 2rem;

  position: relative;
  width: 100%;
  max-width: 800px;
}

#welcome h1 {
  color: #070e14;
  position: relative;
  letter-spacing: -2px;
}

@media screen and (min-width: 62.5em) {
  #welcome h1 {
    font-size: 50px;
  }
}

#welcome p {
  color: rgba(7, 14, 20, 0.5);
  line-height: 1.45;
}

#welcome canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
