---
import 'normalize.css';
import '../styles/index.css';
import MainMenu from '../components/MainMenu/MainMenu.astro';
import FloatMenu from '../components/FloatMenu/FloatMenu.astro';
import ContactSection from '../components/ContactSection/ContactSection.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>porfi.dev</title>
	</head>
	<body>
		<!--
		<header>
			<MainMenu />
			<FloatMenu />
		</header>
		<section id="welcome">
			<header>
				<h1>Porfirio Chávez</h1>
			</header>
			<canvas id="canvas-particles"></canvas>
		</section>
		<div style="width: 100%; height: 3000px; background-color: brown"></div>-->
		<ContactSection />
		<script>
			import '../scripts/background-particle.ts';
		</script>
	</body>
</html>
