---
import './FloatMenu.styles.css';
---

<div class="float-menu">
	<span class="material-symbols-outlined float-menu__icon">Menu</span>
	<a href="/es">ES</a>
	<a href="/en">EN</a>
</div>

<script>
	import './FloatMenu.script.ts';
</script>
