---
import './FloatMenu.styles.css';
---

<div class="float-menu">
    <span class="material-symbols-outlined float-menu__icon">Menu</span>
</div>

<script>
	import './FloatMenu.script.ts';
</script>
